.bg-about {
  background: rgba(20, 17, 17, 0.5);
  color: white;
}

.side-container {
  margin: auto 10vw auto 8vw;
}

.subscribe {
  background-color: rgba(218, 216, 214, 0.45);
  min-height: 55vh;
  min-width: 25vw;
  display: flex;
  align-items: center;
}

.about {
  display: flex;
  max-height: 100vh;
  padding: 15% auto;
}

.about p {
  font-size: 1.2em;
  letter-spacing: 1.1px;
  word-spacing: 3.5px;
  margin-top: 5%;
  line-height: 1.1em;
}

.about h3 {
  font-size: 3.8em;
  font-family: "montserrat", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: -4%;
}

.about h4 {
  font-size: 0.83em;
  font-family: "montserrat", sans-serif;
  letter-spacing: 2px;
  margin-top: -1%;
}

/* .about h5 {
  font-size: 0.7em;
  font-family: "montserrat", sans-serif;
  letter-spacing: 0.5px;
  margin-top: -3%;
} */

/* .about span {
  font-size: 0.8em;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #4a5183;
} */

.words-container {
  max-width: 42vw;
  padding-bottom: 15%;
}

.side-form {
  width: 100%;
  text-align: center;
}

.side-form h2 {
  font-size: 1.5em;
  font-family: "montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.sign-up {
  display: flex;
  padding: 10% 9%;
  flex-direction: column;
}

input {
  background: none;
  border: none;
}

input[type="text"],
input[type="email"] {
  border-bottom: solid 0.8px white;
  font-size: 1em;
  font-family: "forma-djr-banner", sans-serif;
  letter-spacing: 1px;
  padding: 2%;
  margin-bottom: 5.5%;
}

input[type="submit"] {
  font-size: 0.9em;
  color: white;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  margin-top: 10%;
}

input::placeholder {
  color: white;
  font-family: "forma-djr-banner", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9em;
}

input:focus {
  outline: none;
}
