.footer-section {
  min-height: 55vh;
  background: #5d5d5d99;
  position: relative;
  color: white;
}

.footer-container {
  max-width: 98vw;
  margin: auto;
  padding: 3%;
  overflow: hidden;
}

.flex-footer-container {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container img {
  width: 100%;
  margin: 0 auto 10% auto;
}

.middle-section {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  max-width: 20vw;
  mix-blend-mode: overlay;
}

.form-footer input {
  width: 98%;
  color: white;
}

.form-footer input::placeholder,
.form-footer input[type="submit"] {
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: -0.5px;
}

.left-section h5 {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 3%;
}

.left-section p {
  font-family: "montserrat", sans-serif;
  font-size: 0.8em;
}

.right-section a,
li {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 1.5px;
  text-align: right;
  margin-bottom: 10%;
}

.right-section {
  margin-right: 2%;
}

.copyright {
  font-family: "montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 0.8em;
  font-style: italic;
}

.terms {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: -0.5px;
  color: black;
}

@media (max-width: 780px) {
}
