body {
  background: #d6c3ad;
  font-family: "forma-djr-banner", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
}

/* fonts */
.home-title {
  font-family: medusa, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #d6c3ad;
  font-size: 110px;
  margin-right: 2%;
  margin-top: -10%;
  margin-bottom: 1%;
}

.home-title-dark {
  font-family: medusa, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #46332f;
  font-size: 110px;
  margin-right: 2%;
  margin-top: -11%;
  margin-bottom: 1%;
}

.artist-name {
  color: #d6c3ad;
  text-align: center;
  font-size: 35px;
  margin-top: 3%;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.artist-name-dark {
  color: #46332f;
  text-align: center;
  font-size: 35px;
  margin-top: 3%;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.work-title {
  font-family: "montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
}
/* fonts end */

/* helper classes */
.section {
  min-height: 98vh;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  /* used with margin:auto below in .container for centering elements horizontally & vertically */
  display: flex;
  /* we're using position:absolute on our marquee element, its position needs to be in relation to this section */
  position: relative;
}

.container {
  max-width: 810px;
  /* this will center our box ( used with flex in .section ) */
  margin: auto;
}

.bg-intro {
  background-image: linear-gradient(
      rgba(14, 14, 14, 0.2),
      rgba(14, 14, 14, 0.2)
    ),
    url(src/assets/m2.jpeg);
  color: #fff;
}

.bg-matisse {
  background-image: linear-gradient(
      rgba(14, 14, 14, 0.2),
      rgba(14, 14, 14, 0.2)
    ),
    url(src/assets/matisse/m10.jpeg);
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-black {
  background-color: black;
}

.pushup {
  margin-bottom: 10%;
}
/* helper classes end */

/* home page */
.logo {
  display: block;
  text-align: center;
  margin-top: -73.5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 485px;
  mix-blend-mode: overlay;
}

.logo img {
  width: 100%;
}

.marquee {
  position: absolute;
  top: 70vh;
  left: 0;
  width: 100%;
  font-size: 13em;
  font-family: anisette-std, sans-serif;
  font-weight: 300;
  mix-blend-mode: overlay;
  line-height: 1.5;
  overflow: hidden;
}

.marquee span {
  /* shorthand ( brief ) version of the animation css rule ( animations name, how long it'll take, repeat infinite times )*/
  animation: moveLeft 200s infinite;
  /* will ensure the text stays all on the same line */
  white-space: nowrap;
  /* our span is inline by default, so here we tell it to be block */
  display: block;
  /* this will let us add our animation */
  position: relative;
}
/* home page ends */

.info-cont {
  position: absolute;
  bottom: 15%;
  min-width: 102%;
}

.info-cont p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.row {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.column {
  padding: 0 20px 0 20px;
}

.column img {
  height: 400px;
  width: 295px;
  border-radius: 1%;
}
